:root {
    --textColor: #06070A;
    --white: #ffffff;
    --light-color: #CACEDC;
    --light-color2: #F7F8FA;
    --light-color3: #A4AAC2;
    --light-color4: #EDEFF4;
    --light-color5: #D5D8E3;
    --light-block: #F2F4F7;
    --footer-color: #222837;
    --light-blue: #505B75;
    --light-blue-third: #5C6987;
    --light-blue-forth: #8C93B2;
    --light-blue-fifth: #343C4D;
    --light-blue-sixth: #7384AA;
    --dark-blue: #12161E;    
    --yellow: #FDDA25;
    --yellow-sec: #FFE353;
    --yellow-third: #E5B700;
    --yellow-fourth: #D5A001;
    --yellow-fifth: #F4C400;
    --light-yellow: #FEEFA2;
    --yellow-six: #906400;
}