.footer {    
    color: var(--white);
    background-color: var(--footer-color);
}

.footer__wrapper {
    padding-top: 21px;
    padding-bottom: 21px;
}

.footer__logo {
    width: 93px;
    height: 38px;
}

.footer__socials {
    display: none;
}

.footer__terms {
    text-align: right;

    p {
        margin: 0;
        font-weight: 400;
        font-size: 13px;
        line-height: 200%;
        letter-spacing: 0.02em;
    }
}

@media (min-width: 960px) {
    .footer__wrapper {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}