.menu-list {
    padding-top: 30px;

}

.menu-list__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-list__link {
    position: relative;
    display: block;
    padding-right: 25px;
    padding-left: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--textColor);
    cursor: pointer; 

    &:active {
        cursor: grabbing;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        display: block;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        transform: translateY(-50%);
        background: linear-gradient(153.43deg, #CACEDC 16.22%, #EDEFF4 53.35%, var(--white) 83.33%);
    }
}